<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>computed和watch</title>
    <script src="https://cdn.staticfile.org/vue/2.4.2/vue.min.js"></script>
    <script src="https://cdn.staticfile.org/vue-router/2.7.0/vue-router.min.js"></script>
</head>

<body>

    <div id="app">
        <input type="text" v-model="firstName"></input>
        <input type="text" v-model="secondName"></input>
        <input type="text" v-model="fullName"></input>
    </div>

    <script>
        const vm = new Vue({
            el: "#app",
            data: {
                firstName: "",
                secondName: ""
            },
            computed: {
                fullName: {
                    get() {
                        return this.firstName + ' ' + this.secondName
                    },
                    set(val) {
                        console.log(val)
                        console.log(val.split(' '))
                        this.firstName = val.split(' ')[0]
                        this.secondName = val.split(' ')[1]
                    }
                }
            }
        })
    </script>

</body>

</html>