<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>KeepAlive组件测试</title>
    <script src="https://cdn.staticfile.org/vue/2.4.2/vue.min.js"></script>
    <script src="https://cdn.staticfile.org/vue-router/2.7.0/vue-router.min.js"></script>
</head>

<body>
    <div id="app">
        <h1>HelloWorld</h1>
        <p>
            <router-link to="/foo">Go to Foo</router-link>
            <router-link to="/bar">Go to Bar</router-link>
        </p>
        <keep-alive>
            <router-view v-if="$route.meta.keepAlive">
                <!-- 这里是会被缓存的视图组件 -->
            </router-view>
        </keep-alive>
        <router-view v-if="!$route.meta.keepAlive">
            <!-- 这里是不被缓存的视图组件 -->
        </router-view>
    </div>

    <script>
        const Foo = {
            template: '<div>foo</div>',
            mounted() {
                console.log('Foo mounted');
            },

            activated() {
                console.log('Foo activated');
            },

            deactivated() {
                console.log('Foo deactivated');
            }

        }
        const Bar = {
            template: '<div>bar</div>',
            mounted() {
                console.log('Bar mounted');
            },

            activated() {
                console.log('Bar activated');
            },

            deactivated() {
                console.log('Bar deactivated');
            }
        }

        const routes = [
            { path: '/foo', component: Foo, meta: { keepAlive: false } },
            { path: '/bar', component: Bar, meta: { keepAlive: true } }
        ]

        const router = new VueRouter({
            routes
        })

        const app = new Vue({
            router
        }).$mount('#app')

    </script>
</body>

</html>